@import '../../../variables.scss';

.bannier {
    min-height: 35vh;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    background-image: url('../../../assets/banniere.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bannier-nav-color {
    color: $jauneLager;
}

.nav {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: $jauneLager;
}

a:visited {
    color: $jauneLager;
}

.navhover:hover {
    color: $vertHoublon;
    text-decoration:underline;
    transition: 0.2s ease-out;
}