<div class="container-fluid">
    <div class="row bannier">
        <button *ngIf='connected' class="deco" (click)='logout()'>
            Déconnexion
        </button>
        <div class="col-xs-12 bannier d-flex align-items-center justify-content-center almendra">
            <p>La Confrérie du Houblon</p>
        </div>
    </div>
    <div class="row nav khand">
        <div class="col-12 col-md-3 d-flex align-items-center justify-content-center ">
            <a class="color-to-be-hovered" routerLink="/home">HOME</a>
        </div>
        <div class="col-12 col-md-3 d-flex align-items-center justify-content-center ">
            <a class="color-to-be-hovered" routerLink="/apropos">A PROPOS</a>
        </div>
        <div class="col-12 col-md-3 d-flex align-items-center justify-content-center">
            <a class="color-to-be-hovered" routerLink="/lesbieres">LES BIERES</a>
        </div>
        <div class="col-12 col-md-3 d-flex align-items-center justify-content-center">
            <a class="color-to-be-hovered" routerLink="/carte">LA CARTE</a>
        </div>
    </div>
</div>



<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

