<div class="container-fluid">
    <div class="row bannier-nav-color">
        <div class="col-xs-12 bannier d-flex align-items-center justify-content-center almendra">
            <p>La Confrérie du Houblon</p>
        </div>
    </div>
    <div class="row nav bannier-nav-color khand">
        <div class="col-12 col-md-4 d-flex align-items-center justify-content-center ">
            <p class="navhover">A PROPOS</p>
        </div>
        <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
            <p class="navhover">LES BIERES</p>
        </div>
        <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
            <p class="navhover">LA CARTE</p>
        </div>
    </div>
</div>

<div class="container-fluid"></div>

<div class="row fixed-row">
    Mentions Légales
</div>