<div class="container">
  <h2>Ajouter une nouvelle bière</h2>

  <form [formGroup]="biereForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="nom">Nom de la bière</label>
      <input type="text" id="nom" formControlName="nom" class="form-control" />
      <div *ngIf="biereForm.get('nom')?.invalid && biereForm.get('nom')?.touched" class="error-message">
        Le nom de la bière est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="pay">Pays</label>
      <input type="text" id="pay" formControlName="pay" class="form-control" />
      <div *ngIf="biereForm.get('pay')?.invalid && biereForm.get('pay')?.touched" class="error-message">
        Le pays est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="photo">Photo</label>
      <input type="file" id="photo" formControlName="photo" class="form-control" />
      <div *ngIf="biereForm.get('photo')?.invalid && biereForm.get('photo')?.touched" class="error-message">
        La photo est requise.
      </div>
    </div>

    <div class="form-group">
      <label for="type">Type de bière</label>
      <input type="text" id="type" formControlName="type" class="form-control" />
      <div *ngIf="biereForm.get('type')?.invalid && biereForm.get('type')?.touched" class="error-message">
        Le type de bière est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="lat">Latitude</label>
      <input type="number" id="lat" formControlName="lat" class="form-control" />
      <div *ngIf="biereForm.get('lat')?.invalid && biereForm.get('lat')?.touched" class="error-message">
        La latitude est requise.
      </div>
    </div>

    <div class="form-group">
      <label for="lng">Longitude</label>
      <input type="number" id="lng" formControlName="lng" class="form-control" />
      <div *ngIf="biereForm.get('lng')?.invalid && biereForm.get('lng')?.touched" class="error-message">
        La longitude est requise.
      </div>
    </div>

    <div class="form-group">
      <label for="brasserie">Brasserie</label>
      <input type="text" id="brasserie" formControlName="brasserie" class="form-control" />
      <div *ngIf="biereForm.get('brasserie')?.invalid && biereForm.get('brasserie')?.touched" class="error-message">
        La brasserie est requise.
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" formControlName="description" class="form-control"></textarea>
      <div *ngIf="biereForm.get('description')?.invalid && biereForm.get('description')?.touched" class="error-message">
        La description est requise.
      </div>
    </div>

    <div class="form-group">
      <label for="gouteur">Gouteur</label>
      <input type="text" id="gouteur" formControlName="gouteur" class="form-control" />
      <div *ngIf="biereForm.get('gouteur')?.invalid && biereForm.get('gouteur')?.touched" class="error-message">
        Le nom du gouteur est requis.
      </div>
    </div>

    <div class='submit-container'>
      <button type="submit" [disabled]="biereForm.invalid" class="btn btn-primary">Ajouter</button>
      <div class="submit-mess">
        <div *ngIf="addSuceed === true && uploadSuceed === true" class="succes">
          Bière ajoutée avec succès!
        </div>
        <div *ngIf="addSuceed === false || uploadSuceed === false" class="error">
          Oups! il y a eu une erreur!
        </div>
      </div>
    </div>

  </form>



</div>