div {
    color: white;
}

.form-group {
    margin-bottom: 20px;
}

input {
    margin-left: 20px;
}

textarea {
    margin-left: 20px;
    min-width: 80%;
    height: 100px;
}

.dashboard {
    margin-top: 20px;
}