<div *ngIf="biere">
    <h2>Modifier la bière : {{ biere.nom }}</h2>
    <form>
      <label for="nom">Nom:</label>
      <input type="text" id="nom" [(ngModel)]="biere.nom" name="nom" required>
  
      <label for="pay">Pays:</label>
      <input type="text" id="pay" [(ngModel)]="biere.pay" name="pay" required>
  
      <label for="photo">Photo:</label>
      <input type="text" id="photo" [(ngModel)]="biere.photo" name="photo" required>
  
      <label for="type">Type:</label>
      <input type="text" id="type" [(ngModel)]="biere.type" name="type" required>
  
      <label for="lat">Latitude:</label>
      <input type="number" id="lat" [(ngModel)]="biere.lat" name="lat" required>
  
      <label for="lng">Longitude:</label>
      <input type="number" id="lng" [(ngModel)]="biere.lng" name="lng" required>
  
      <label for="brasserie">Brasserie:</label>
      <input type="text" id="brasserie" [(ngModel)]="biere.brasserie" name="brasserie" required>
  
      <label for="description">Description:</label>
      <textarea id="description" [(ngModel)]="biere.description" name="description"></textarea>
  
      <label for="gouteur">Gouteur:</label>
      <input type="text" id="gouteur" [(ngModel)]="biere.gouteur" name="gouteur">
  
      <button type="button" (click)="updateBiere()">Mettre à jour Bière</button>
    </form>
  </div>
  
