div {
    color:white;
}

form {
    display:flex;
    flex-direction: column;
    max-width: 50%;
   margin-left: 10%;
}

input {
    margin-bottom: 20px;
}

textarea {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}