<div class="row">
    <div class="col-md-5 khand d-flex align-items-center justify-content-center flex-column">
        <p>
            Découvrez ici les dernières bières dégustées par La Confrérie.
            Brune, Blonde, Rousse, qu'en pense La Confrérie?
        </p>
    </div>
    <div class="col-md-7 d-flex align-items-center justify-content-center">
        <app-card [nomBiere]="nomBiere" [type]="type" [pay]="pay" [photo]="photo" [brasserie]="brasserie">
        </app-card>
    </div>
</div>


<div class="row d-flex flex-row">
    <div>
        <a class="mentions" routerLink="/mentions">Mentions Légales</a>
        <a routerLink="/connection">Connection</a>
    </div>
</div>