<div class="row">
    <div class="col-md-5 khand d-flex align-items-center justify-content-center flex-column">
        <p class="titre">
            Qui sommes-nous?
        </p>
        <p>
            Des amis qui aiment la bière. On s&#x2019;y connait? 
            Comme des gens qui boivent de la bière! 
            Sommes-nous brasseur ou sommelier? Non.
            Nous aimons juste la bière et écrivons pour les amoureux de la bière. 
            Bière.
        </p>
    </div>
    <div class="col-md-7 d-flex align-items-center justify-content-center" >
        <img src="assets/photo.png" alt="La série des amis à NY??">
    </div>
</div>
