@import '../../../variables.scss';

p {
    color:white;
    font-weight:bolder;
    font-size: 32px;
    text-align: center;
}

.titre {
    color: $vertHoublon;
    font-size: 40px;
    margin-bottom: 5px;
}

img {
    max-width: 80%;;
}

.bite {
    max-width: 100%;
}
